*{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: black;
}

.home-nav{
    display: flex;
    padding: 4px 24px;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
}

.home-nav-items{
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.navigation-items a{
    padding-left: 24px;
}

.works-grid{
    margin: 80px 0px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1.5fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    text-align: center;
}

.works-item-1{
    display: flexbox;
    
}

.work-image-item{
    display: flex;
    height: 100%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: stretch;
    flex-direction: column;
    justify-content: center;]]  
}

.content section{
    display: flex;
    height: calc(100vh - 28px);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20%;
    font-size: 8vh;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.intro-text{
    text-align: center;
}

.resume-go-btn{
    font-size: 24px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 40px;
    margin-left:-42px;
    margin-top:-20px;
    background-color: white;
    border: none;
}