*{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: black;
}

.home-nav{
    display: flex;
    padding: 4px 24px;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
}

.home-nav-items{
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.navigation-items a{
    padding-left: 24px;
}

.works-grid{
    margin: 80px 0px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1.5fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    text-align: center;
}

.works-item-1{
    display: flexbox;
    
}

.work-image-item{
    display: flex;
    height: 100%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: stretch;
    flex-direction: column;
    justify-content: center;]]  
}
